@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="Root__main-view">
    <div class="main-view-container">
        <div style="margin-top: 60px;"> </div>
        <br />

        <button id="1" class="tablink" onclick="openPage('Home', this, 'green', '1')">Danh sách bài hát</button>
        <button id="2" class="tablink" onclick="openPage('News', this, 'green', '2')">Ca sĩ</button>
        <button id="3" class="tablink" onclick="openPage('Contact', this, 'green', '3')">Thể loại</button>
        <button id="4" class="tablink" onclick="openPage('About', this, 'green', '4')">Chủ đề</button>

        <div id="Home" class="tabcontent">
            <button class="addbaihat" type="submit">
                @Html.ActionLink("Thêm bài hát", "Create", "QLBH")
            </button>
            <div class="card" style="padding-bottom:50px">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>

                                <th>Tên Bài Hát</th>

                                <th>Ảnh</th>
                                <th>Ngày phát hành</th>
                                <th>Ca Sĩ</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.baihats)
                            {
                                <tr>
                                    <td style="vertical-align: middle">@item.TenBH</td>
                                    <td style="vertical-align: middle;">
                                        <img src="/image/@item.image" width="100" height="100" />
                                    </td>
                                    <td style="vertical-align: middle">@item.NgayPH</td>
                                    <td style="vertical-align: middle">@item.CaSi.TenCS</td>
                                    <td style="vertical-align: middle">

                                        <a href="/QLBH/Edit/@item.MaBH" style="margin-right: 10px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/QLBH/Detail/@item.MaBH" style="margin-right: 10px;"> Chi tiết</a>
                                        <a href="/QLBH/Delete/@item.MaBH"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div id="News" class="tabcontent">
            <button class="addbaihat" type="submit">
                @Html.ActionLink("Thêm ca sĩ", "CreateCS", "CaSi")
            </button>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã ca sĩ</th>
                                <th>Tên ca sĩ</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.Casis)
                            {
                                <tr>

                                    <td style="vertical-align: middle">@item.MaCS</td>
                                    <td style="vertical-align: middle">@item.TenCS</td>
                                    <td style="vertical-align: middle">
                                        <a href="/CaSi/EditCS/@item.MaCS" style="margin-right: 15px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/CaSi/DeleteCS/@item.MaCS"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div id="Contact" class="tabcontent">
            <button class="addbaihat" type="submit">
                @Html.ActionLink("Thêm thể loại", "CreateTL", "TheLoai")
            </button>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã thể loại</th>
                                <th>Thể loại</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.theloais)
                            {
                                <tr>
                                    <td style="vertical-align: middle">@item.MaTL</td>
                                    <td style="vertical-align: middle">@item.TenTL</td>
                                    <td style="vertical-align: middle">
                                        <a href="/TheLoai/EditTL/@item.MaTL" style="margin-right: 15px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/TheLoai/DeleteTL/@item.MaTL"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <div id="About" class="tabcontent">
            <button class="addbaihat" type="submit">
                @Html.ActionLink("Thêm chủ đề", "CreateCD", "ChuDe")
            </button>
            <div class="card">
                <div class="card-body">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Mã chủ đề</th>
                                <th>Tên chủ đề</th>
                                <th>Ảnh</th>
                                <th>Màu chủ đề</th>
                                <th>Tùy chọn</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in ViewBag.chudes)
                            {
                                <tr>
                                    <td style="vertical-align: middle">@item.MaCD</td>
                                    <td style="vertical-align: middle">@item.TenCD</td>
                                    <td style="vertical-align: middle"><img src="/image/@item.Picture" width="100" height="100" /></td>
                                    <td style="vertical-align: middle">@item.Color</td>
                                    <td style="vertical-align: middle">
                                        <a href="/ChuDe/EditCD/@item.MaCD" style="margin-right: 15px;"><i class="fa-solid fa-pen-to-square"></i></a>
                                        <a href="/ChuDe/DeleteCD/@item.MaCD"><i class="fa-solid fa-trash-can"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

        <script src="~/Scripts/Casi.js"></script>
        <script>
          
            if (!localStorage.getItem("selectedTab")) {
                localStorage.setItem("selectedTab", "1");
            }

            function openPage(pageName, elmnt, color, tab) {
                // Ẩn tất cả các phần tử có class="tabcontent"
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }

                // Loại bỏ màu nền của tất cả các tablink/button
                tablinks = document.getElementsByClassName("tablink");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].style.backgroundColor = "";
                }

                // Hiển thị nội dung tab cụ thể
                document.getElementById(pageName).style.display = "block";

                // Thêm màu nền cho nút được nhấp để mở nội dung tab
                elmnt.style.backgroundColor = color;

                // Gửi form nếu giá trị tab thay đổi và form chưa được gửi
                if (localStorage.getItem("selectedTab") !== tab) {
                  
                    localStorage.setItem("selectedTab", tab); 
                }
            }

            // Tự động mở tab lưu trong Local Storage khi tải lại trang
            var savedTab = localStorage.getItem("selectedTab");
            if (savedTab && document.getElementById(savedTab)) {
                document.getElementById(savedTab).click();
            }

        </script>


       

    </div>
</div>


<style>
    
    table {
        width: 100%;
        color: #ccc;
    }

    th, td {
        padding: 10px;
        text-align: left;
    }

    th {
        background-color: #222222;
    }

    tr:nth-child(even) {
        background-color: #282828;
    }

    tr:hover {
        background-color: #333;
    }

    thead {
        background-color: #282828;
    }
   
  
</style>
