@using NgheNhacTrucTuyen.Models

@{
    DBcontextDataContext context = new DBcontextDataContext();
    bool islogin = Session["islogin"] != null && (bool)Session["islogin"];
    bool adm = Session["adm"] != null && (bool)Session["adm"];
    string Ten = Session["Ten"] != null ? Session["Ten"].ToString() : "";

    string linkLibrary ="/Login/Login";
    string linkDSBaiHat = "/Login/Login";
    string linkDSTaiKhoan = "/Login/Login";
    string linkThemPL = "/Login/Login";
    string linkBaiHatYeuThich = "/Login/Login";

    if (islogin == true)
    {
        linkLibrary = "/Home/Library";
        linkThemPL = "/Home/ThemPL";
        linkBaiHatYeuThich = "/Home/BaiHatYeuThich";

    }

    if (islogin == true && adm == true)
    {
        linkDSBaiHat = "/QLBH/DSBaiHat";
        linkDSTaiKhoan = "/QLTK/DSTaiKhoan";
    }


}



<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/image/logo.jpg" type="image/png" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>COLMUSIC</title>
    <link rel="icon"
          href="assets/image/logo.jpg" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2" />
    <link rel="stylesheet" href="~/Content/main.css" />
    <link rel="stylesheet" href="~/Content/style.css" />
    <link rel="stylesheet" href="~/Content/xpui.css" />
    <link rel="stylesheet" href="~/fonts/fontawesome-free-6.2.0-web/css/all.min.css">
    <link rel="stylesheet" href="~/Scripts/playaudio.js" />

    <style>
        /* Basic volume control container */
        .volume-controls {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        /* Mute button style */
        .control-button {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            margin-right: 12px;
        }

        /* Volume slider container */
        .volume-slider {
            display: flex;
            align-items: center;
            position: relative;
        }

        /* Hidden label for accessibility */
        .hidden-visually {
            position: absolute;
            width: 1px;
            height: 1px;
            margin: -1px;
            padding: 0;
            border: 0;
            clip: rect(0, 0, 0, 0);
            clip-path: inset(50%);
        }

        /* Progress bar for volume slider */
        .progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background-color: #1db954; /* Spotify's green */
            border-radius: 5px;
        }

        /* Customize slider appearance */
        input[type="range"] {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: 3px;
            background: #ccc;
            border-radius: 5px;
            cursor: pointer;
        }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                appearance: none;
                width: 20px;
                height: 20px;
                background: #1db954;
                border-radius: 50%;
                cursor: pointer;
            }

            input[type="range"]::-moz-range-thumb {
                width: 20px;
                height: 20px;
                background: #1db954;
                border-radius: 50%;
                cursor: pointer;
            }

    </style>


</head>
<body>
    <div class="Root encore-dark-theme">
        <div class="container">
            <div class="Root__top-bar">
                <header class="header header-br">
                    <div class="Button">

                        <button aria-label="Quay lại" class="btn return-button" onclick="history.back();">
                            <i class="fa-solid fa-angle-left"></i>
                        </button>

                        <button aria-label="Tiếp theo" class="btn forward-button" onclick="history.forward();">
                            <i class="fa-solid fa-angle-right"></i>
                        </button>
                    </div>

                    @{
                        if (islogin == false)
                        {
                            <div class="head-option">
                                <button class="btn-dangky">
                                    <a href="/login/signup">Đăng ký</a>
                                </button>
                                <button data-testid="login-button" class="btn-dangnhap">
                                    <a href="/login/login"><span class="sp-dangnhap encore-inverted-light-set">Đăng nhập</span></a>
                                </button>
                            </div>
                        }
                        if (islogin == true)
                        {

                            <div class="head-option">
                                <button class="btn-dangky">
                                    chào @Ten
                                </button>
                                <button data-testid="login-button" class="btn-dangnhap">
                                    <a href="/login/logout"><span class="sp-dangnhap encore-inverted-light-set">Đăng xuất</span></a>
                                </button>
                            </div>
                        }


                    }

                </header>
            </div>
            <nav aria-label="Chính" class="Root__nav-bar">
                <div class="tUwyjggD2n5KvEtP5z1B">
                    <div>
                        <a href="/Home/Index">
                            <img src="/image/spotify.gif" style="width: 100%; height: auto;">
                        </a>
                    </div>
                    <ul class="RSg3qFREWrqWCuUvDpJR">
                        <li class="eNs6P3JYpf2LScgTDHc6 InvalidDropTarget">
                            <a href="/Home" aria-current="page"
                               class="link-subtle ATUzFKub89lzvkmvhpyE"
                               draggable="false">
                                <i class="fa-solid fa-house"></i>
                                <span class="Type__TypeElement-goli3j-0 hkMLug ellipsis-one-line">Trang chủ</span>
                            </a>
                        </li>
                        <li class="eNs6P3JYpf2LScgTDHc6 InvalidDropTarget">
                            <a href="/Home/TimKiem" class="link-subtle ATUzFKub89lzvkmvhpyE"
                               draggable="false">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <span class="Type__TypeElement-goli3j-0 hkMLug ellipsis-one-line">Tìm kiếm</span>
                            </a>
                        </li>
                        <li class="eNs6P3JYpf2LScgTDHc6 InvalidDropTarget">
                            <a href="@linkLibrary" class="link-subtle ATUzFKub89lzvkmvhpyE"
                               draggable="false">
                                <i class="fa-solid fa-swatchbook"></i>
                                <span class="Type__TypeElement-goli3j-0 hkMLug ellipsis-one-line">Thư viện</span>
                            </a>
                        </li>
                        @{ if (islogin == true && adm == true)
                            {
                                <li class="eNs6P3JYpf2LScgTDHc6 InvalidDropTarget">
                                    <a href="@linkDSBaiHat" class="link-subtle ATUzFKub89lzvkmvhpyE"
                                       draggable="false">
                                        <i class="fa-solid fa-list-check"></i>
                                        <span class="Type__TypeElement-goli3j-0 hkMLug ellipsis-one-line">Quản lý bài hát</span>
                                    </a>
                                </li>
                                <li class="eNs6P3JYpf2LScgTDHc6 InvalidDropTarget">
                                    <a href="@linkDSTaiKhoan" class="link-subtle ATUzFKub89lzvkmvhpyE"
                                       draggable="false">
                                        <i class="fa-solid fa-user"></i>
                                        <span class="Type__TypeElement-goli3j-0 hkMLug ellipsis-one-line">Quản lý tài khoản</span>
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                    <div class="LKgm9fCDTO7wqig_5U1q" data-testid="rootlist-container">
                        <div class="EY6S7vlkxB7SF_OjjF_Y">
                            <div class="GlueDropTarget GlueDropTarget--albums GlueDropTarget--tracks GlueDropTarget--local-tracks GlueDropTarget--episodes">

                                <a href="@linkThemPL" type="button" id="mybtn"
                                   class="IPVjkkhh06nan7aZK7Bx"
                                   data-testid="create-playlist-button">
                                    <div class="Bwc9jlVb7HWs8JJupnBB">
                                        <div class="q3ABXYJT9JZIzXOOtVuO">
                                            <i class="fa-solid fa-plus Svg-ytk21e-0 eqtHWV"></i>
                                        </div>
                                    </div>
                                    <span class="Type__TypeElement-goli3j-0 hkMLug J4xXuqyaJnnwS6s2p3ZB standalone-ellipsis-one-line">Tạo playlist</span>

                                </a>
                            </div>
                            <div class="GlueDropTarget GlueDropTarget--tracks">
                                <a href="@linkBaiHatYeuThich" class="r9YzlaAPnM2LGK97GSfa"
                                   draggable="false">
                                    <div class="bFQ9NOIn1bDs8tTH0ebQ">
                                        <div class="Nd_DeCpszONzyaLe5Wd1">
                                            <i class="fa-solid fa-heart Svg-ytk21e-0 eqtHWV"></i>
                                        </div>
                                    </div>
                                    <span class="Type__TypeElement-goli3j-0 hkMLug standalone-ellipsis-one-line ot6VAZq1Xfbw2Vh8Qt_A">Bài hát đã thích</span>
                                    <div class="gtuJjD43VjwtP8ii3H3P"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="Root__now-playing-bar" style="width:1535px;">
                <footer class="GD2gbRtcs5dOjMGAM_Y4"
                        data-testid="now-playing-bar"
                        data-testadtype="ad-type-none">
                    <div class="OCY4jHBlCVZEyGvtSv0J">
                        <div class="OgkbKIVYE_mrNpYESylB">
                            <div class="deomraqfhIAoSB3SgXpu">
                                <div data-testid="CoverSlotCollapsed__container"
                                     class="rVxzkDirgkuRPv5V1HYF IcyWfMS5VkeOhaI7OWIx"
                                     aria-hidden="false">
                                    <div draggable="true">
                                        <a href=""
                                           style="border: none">
                                            <div class="cover-art cover-art-image" style="width: 56px; height: 56px">
                                                <div>
                                                    <img src="~/image/tải xuống.jpg"
                                                         class="mMx2LUixlnN_Fu45JpFB cover-art-image Yn2Ei5QZn19gria6LjZj" id="imagelayout" />
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                                <div class="ZcNcu7WZgOAz_Mkcoff3">
                                    <div class="Q_174taY6n64ZGC3GsKj">
                                        <div class="eSMjmiD29Ox35O95waw6">
                                            <div class="W5cB_o0XkkU7Q8tlTGxq">
                                                <div class="PGSe59fD1Hwc9yUM2d3U"
                                                     style="--trans-x: 0px">
                                                    <div class="Type__TypeElement-goli3j-0 iTnRIT Q_174taY6n64ZGC3GsKj"
                                                         dir="auto">
                                                        <span draggable="true">
                                                            <a href=""
                                                               style="border: none" id="tenbaihatlayout">

                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="gpNta6i8q3KYJC6WBZQC">
                                        <div class="eSMjmiD29Ox35O95waw6">
                                            <div class="W5cB_o0XkkU7Q8tlTGxq">
                                                <div class="PGSe59fD1Hwc9yUM2d3U"
                                                     style="--trans-x: 0px">
                                                    <div data-testid="context-item-info-subtitles"
                                                         class="Type__TypeElement-goli3j-0 jObFUN gpNta6i8q3KYJC6WBZQC">
                                                        <span draggable="true">
                                                            <a dir="auto"
                                                               href="" id="tencasilayout"></a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="P4eSEARM2h24PZxMHz1T">
                            <div class="player-controls"
                                 data-testid="player-controls"
                                 dir="ltr"
                                 aria-label="Điều khiển trình phát">
                                <div class="player-controls__buttons player-controls__buttons--new-icons">
                                    <div class="player-controls__left">
                                        
                                        <button class="fn72ari9aEmKo4JcwteT"
                                                aria-label="Trước"
                                                onclick=" playPrev()"
                                                style="--button-size: 32px">
                                            <i class="fa-solid fa-backward"></i>
                                        </button>
                                    </div>
                                    <button class="vnCew8qzJq3cVGlYFXRI" onclick="playaudioo()"
                                            aria-label="Phát" id="playbtn"
                                            style="--button-size: 32px">
                                        <i class="fa-solid fa-play"></i>
                                    </button>
                                    <button class="vnCew8qzJq3cVGlYFXRI" onclick="pauseaudioo()"
                                            aria-label="Dừng" id="pausebtn"
                                            style="--button-size: 32px; display: none;">
                                        <i class="fa-solid fa-pause"></i>
                                    </button>
                                    <div class="player-controls__right">
                                        <button class="mnipjT4SLDMgwiDCEnRC"
                                                aria-label="Tiếp"
                                                onclick="playNext()"
                                                style="--button-size: 32px">
                                            <i class="fa-solid fa-forward"></i>
                                        </button>
                                       
                                    </div>
                                </div>
                                <div class="playback-bar">

                                    <div class="p1ULRzPc4bD8eQ4T_wyp DFtdzavKSbEhwKYkPTa6"
                                         data-testid="playback-progressbar">
                                        <input id="progress" class="progress" type="range" value="0" step="1" min="0" max="100"
                                               style=" width: 100%; margin-bottom: 15px; height: 6px; background: #d3d3d3; outline: none; opacity: 0.7; -webkit-transition: 0.2s; transition: opacity 0.2s;">

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="jOKLc29vP0Bz1K0TsDtX">
                            <div class="volume-controls" data-testid="volume-bar" dir="ltr" style="--button-size: 32px; --slider-width: 100%;">
                                <!-- Mute Button -->
                                <button class="control-button" aria-label="Mute" aria-describedby="volume-icon" data-testid="volume-bar-toggle-mute-button" onclick="toggleMute()">
                                    <svg id="volume-icon" viewBox="0 0 16 16" class="Svg-sc-ytk21e-0 kcUFwU">
                                        <path d="M9.741.85a.75.75 0 0 1 .375.65v13a.75.75 0 0 1-1.125.65l-6.925-4a3.642 3.642 0 0 1-1.33-4.967 3.639 3.639 0 0 1 1.33-1.332l6.925-4a.75.75 0 0 1 .75 0zm-6.924 5.3a2.139 2.139 0 0 0 0 3.7l5.8 3.35V2.8l-5.8 3.35zm8.683 4.29V5.56a2.75 2.75 0 0 1 0 4.88z"></path>
                                    </svg>
                                </button>

                                <!-- Volume Slider -->
                                <div class="volume-slider">
                                    <label class="hidden-visually">Change Volume</label>
                                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1" onchange="updateVolume(this.value)" style="width: 120px;">
                                    <div class="progress-bar" style="width: 100%;"></div>
                                </div>
                            </div>

                        </div>
                    </div>

                </footer>
            </div>
            <audio src="" id="demo"></audio>

            @RenderBody()
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>


        // Function to toggle mute/unmute
        function toggleMute() {
            const video = document.getElementById('demo');  // Use your video/audio element ID
            const slider = document.getElementById('volumeSlider');
            const icon = document.getElementById('volume-icon');

            // Toggle mute state
            video.muted = !video.muted;

            // If muted, set slider to 0 and change icon to muted state
            if (video.muted) {
                slider.value = 0;
                icon.setAttribute('aria-label', 'Unmute');
            } else {
                slider.value = video.volume; // Restore volume level
                icon.setAttribute('aria-label', 'Mute');
            }

            // Update progress bar
            updateProgressBar(slider.value);
        }

        // Function to update volume based on slider value
        function updateVolume(value) {
            const video = document.getElementById('demo');  // Use your video/audio element ID
            video.volume = value;  // Update video/audio volume based on slider

            // If the volume is set to 0, mute the video
            if (value == 0) {
                video.muted = true;
                const icon = document.getElementById('volume-icon');
                icon.setAttribute('aria-label', 'Unmute');
            } else {
                video.muted = false; // Unmute if volume is above 0
            }

            // Update progress bar
            updateProgressBar(value);
        }

        // Function to update progress bar based on the slider value
        function updateProgressBar(value) {
            const progressBar = document.querySelector('.progress-bar');
            progressBar.style.width = (value * 100) + '%';
        }

        // Initialize the slider on page load to match the video's current volume
        window.onload = function () {
            const video = document.getElementById('demo');  // Use your video/audio element ID
            const slider = document.getElementById('volumeSlider');
            slider.value = video.volume;  // Set slider to current volume
            updateProgressBar(slider.value);  // Update progress bar
        };




        function playaudio1(message, anh, ten, casi) {

            document.getElementById('demo').pause();
            document.getElementById('demo').src = message;
            document.getElementById('demo').play();
            document.getElementById('imagelayout').src = anh;
            document.getElementById('tenbaihatlayout').textContent = ten;
            document.getElementById('tencasilayout').textContent = casi;
            document.getElementById('playbtn').style.display = 'none';
            document.getElementById('pausebtn').style.display = 'block';
            document.getElementById('demo').onended = function () {
                document.getElementById('demo').currentTime = 0;
                document.getElementById('demo').play();
                togglePlayPauseButtons(true);
            };
        }



        function playaudioo() {
            document.getElementById('demo').play();
            document.getElementById('playbtn').style.display = 'none';
            document.getElementById('pausebtn').style.display = 'block';
        }
        function pauseaudioo() {
            document.getElementById('demo').pause();
            document.getElementById('playbtn').style.display = 'block';
            document.getElementById('pausebtn').style.display = 'none';
        }
        function hienmodalthem() {
            document.getElementById('menuthem').style.display = 'block';

        }
        function tatmodalthem() {
            document.getElementById('menuthem').style.display = 'none';
        }
        var audio = document.getElementById('demo');
        var progress = document.getElementById('progress');

       
        // Khi tiến độ bài hát thay đổi
        // When the song progress changes
        audio.ontimeupdate = function () {
            if (audio.duration) {
                const progressPercent = Math.floor(
                    (audio.currentTime / audio.duration) * 100
                );
                progress.value = progressPercent;
            }
        };

        // Xử lý khi tua song
        // Handling when seek
        progress.onchange = function (e) {
            const seekTime = (audio.duration / 100) * e.target.value;
            audio.currentTime = seekTime;
        };


        function playaudio2() {
            if (playlist.length > 0) {
                var song = playlist[currentIndex];  // Lấy bài hát theo chỉ mục hiện tại
                var audio = document.getElementById('demo');
                audio.src = song.file;  // Đường dẫn file nhạc
                audio.play();           // Phát nhạc

                // Cập nhật thông tin giao diện
                document.getElementById('imagelayout').src = song.image;
                document.getElementById('tenbaihatlayout').textContent = song.name;
                document.getElementById('tencasilayout').textContent = song.artist;
                document.getElementById('playbtn').style.display = 'none';
                document.getElementById('pausebtn').style.display = 'block';
            }
            audio.onended = playNext;
        }

        function playNext() {
            currentIndex = (currentIndex + 1) % count;  // Tăng chỉ mục và quay lại đầu nếu hết danh sách
            playaudio2();  // Gọi hàm phát nhạc với bài hát mới
        }

        function playPrev() {
            currentIndex = (currentIndex + count - 1) % count;  // Giảm chỉ mục và quay lại cuối nếu hết danh sách
            playaudio2();  // Gọi hàm phát nhạc với bài hát mới
        }

        
        


    </script>


</body>

</html>
